<ul class="sidebar-menu">
	<li class="header">MAIN NAVIGATION</li>
	<li class="treeview active">
		<a href="#">
			<i class="fa fa-tachometer"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
		</a>
		<ul class="treeview-menu">
			<li class="active"><a href="/home"><i class="fa fa-wrench"></i>Beacon Settings</a></li>
			<li><a href="/admin/info"><i class="fa fa-user"></i>Admin Info</a></li>
		</ul>
	</li>
	<li class="treeview">
		<a href="#">
			<i class="fa fa-plane"></i> <span>Change Airport</span>
			<i class="fa fa-angle-left pull-right"></i>
		</a>
		<ul class="treeview-menu">
			<li ><a href="/home?airport=1"><i class="fa fa-plane"></i> Airport 1</a></li>
			<li><a href="/home?airport=2"><i class="fa fa-plane"></i> Airport 2</a></li>
			<li><a href="/home?airport=2"><i class="fa fa-plane"></i> Airport 3</a></li>
		</ul>
	</li>
	<li class="treeview">
		<a href="#">
			<i class="fa fa-ticket"></i> <span>Boarding Pass</span>
			<i class="fa fa-angle-left pull-right"></i>
		</a>
		<ul class="treeview-menu">
			<li><a href="/boarding/add"><i class="fa fa-plus"></i> Add boarding pass</a></li>
			<li><a href="/home?airport=2"><i class="fa fa-pencil"></i> Update boarding pass</a></li>
			<li><a href="/home?airport=2"><i class="fa fa-minus"></i> Remove boarding pass</a></li>
			<li><a href="/home?airport=2"><i class="fa fa-check"></i> Checked In</a></li>
		</ul>
	</li>
</ul>