<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Admin | AirBeacon</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<!-- Bootstrap 3.3.5 -->
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="/dist/css/font-awesome.min.css">
		<!-- Ionicons -->
		<link rel="stylesheet" href="/dist/css/ionicons.min.css">
		<!-- DataTables -->
		<link rel="stylesheet" href="/dist/css/dataTables.bootstrap.min.js">
		<!-- Theme style -->
		<link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
		<!-- AdminLTE Skins. Choose a skin from the css/skins
				 folder instead of downloading all of them to reduce the load. -->
		<link rel="stylesheet" href="/dist/css/_all-skins.min.css">

		<link rel="stylesheet" href="/style/style.css">

		<script src="/angularjs/angular.min.js"></script>

		<link href="/dist/css/xeditable.min.css" rel="stylesheet">
		<script src="/dist/js/xeditable.min.js"></script>
		<script src="/dist/js/ng-file-upload.min.js"></script>
		<script src="/dist/js/ng-file-upload-shim.min.js"></script>
		
		<script src="/dist/js/ui-bootstrap-tpls.min.js"></script>

		<script src="/angularjs/adminModule.js"></script>


		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
				<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body class="hold-transition skin-blue sidebar-mini" ng-app="adminModule" ng-controller="adminController" ng-init="getalerts();">
		<div class="wrapper">
			<header class="main-header">
				<% include ./partials/admin-header %>
			</header>

			<!-- Left side column. contains the logo and sidebar -->
			<aside class="main-sidebar">
				<!-- sidebar: style can be found in sidebar.less -->
				<section class="sidebar">
					<!-- Sidebar user panel -->
					<div class="user-panel">
						<div class="pull-left image">
							<img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="Admin Image">
						</div>
						<div class="pull-left info">
							<p class="capitalize"> <%= fname %> <%= lname %></p>
							<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
						</div>
					</div>
					<!-- search form --><!--
						<form action="#" method="get" class="sidebar-form">
							<div class="input-group">
								<input type="text" name="q" class="form-control" placeholder="Search...">
								<span class="input-group-btn">
									<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
								</span>
							</div>
						</form>-->
					<!-- /.search form -->

					<!-- sidebar menu: : style can be found in sidebar.less -->
					<ul class="sidebar-menu">
						<li class="header">MAIN NAVIGATION</li>
						<li class="treeview active">
							<a href="#">
								<i class="fa fa-tachometer"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
							</a>
							<ul class="treeview-menu">
								<li class="active"><a href="/home"><i class="fa fa-wrench"></i>Beacon Settings</a></li>
								<li><a href="/admin/info"><i class="fa fa-user"></i>Admin Info</a></li>
							</ul>
						</li>
						<li class="treeview">
							<a href="#">
								<i class="fa fa-plane"></i> <span>Change Airport</span>
								<i class="fa fa-angle-left pull-right"></i>
							</a>
							<ul class="treeview-menu">
								<li ><a href="/home?airport=1"><i class="fa fa-plane"></i> Airport 1</a></li>
								<li><a href="/home?airport=2"><i class="fa fa-plane"></i> Airport 2</a></li>
								<li><a href="/home?airport=2"><i class="fa fa-plane"></i> Airport 3</a></li>
							</ul>
						</li>
						<li class="treeview">
							<a href="#">
								<i class="fa fa-ticket"></i> <span>Boarding Pass</span>
								<i class="fa fa-angle-left pull-right"></i>
							</a>
							<ul class="treeview-menu active">
								<li><a href="/boarding/pass"><i class="fa fa-ticket"></i> Boarding Pass</a></li>
								<li><a href="/boarding/add"><i class="fa fa-plus"></i> Add Boarding Pass</a></li>
								<li><a href="/boarding/remove"><i class="fa fa-minus"></i> Remove Boarding Pass</a></li>
							</ul>
						</li>
					</ul>
				</section>
				<!-- /.sidebar -->
			</aside>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
								<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
						Admin Info
						<small>Control panel</small>
					</h1>
					<ol class="breadcrumb">
						<li><a href="#"><i class="fa fa-dashboard"></i> Admin</a></li>
						<li class="active">Home</li>
					</ol>
				</section>

				<!-- Main content -->
				<section class="content">
					<!-- Small boxes (Stat box) -->
					<div class="row">
						<div class="col-xs-12">
							<div class="data" ng-hide="!isData">
								
								<table class="table table-bordered table-hover table-condensed">
  
									<tr  ng-repeat="alert in alerts" >
										<td><h4>Alert at : 
											<span editable-select="alert.beacon" e-name="beacon" e-form="rowform" e-ng-options="s.value as s.text for s in beacons" e-required>
									          {{ showBeacon(alert.beacon) }}
									        </span>
									        </h4>
										</td>
											<td>
											<h4>Name : 
												<span editable-text="alert.name" e-name="name" e-form="rowform" e-required>
										          {{ alert.name || 'empty' }}
										        </span>
											</h4>
										</td>
										<td>
											<h4>Status : 
												<span editable-text="alert.status" e-name="status" e-form="rowform" e-required>
										          {{ alert.status || 'empty' }}
										        </span>
											</h4>
										</td>
										<td>
											<h4>Alert type: 
												<span editable-select="alert.alert_type" e-name="alert_type" e-form="rowform" e-ng-options="s.value as s.text for s in alert_types" e-required>
													{{ showAlertType(alert) }}
												</span>
											</h4>
										</td>
										<td>
										<h4>Image : <img src="{{alert.image}}" height="42" width="70"></h4>
										<h4>createdAt : {{alert.createdAt | date : 'short'}}</h4>
										</td>
										<td>
										<!-- form -->
								        <form editable-form name="rowform" onbeforesave="saveAlert($data, alert.alert_id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
								          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
								            save
								          </button>
								          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
								            cancel
								          </button>
								        </form>
								        <div class="buttons" ng-show="!rowform.$visible">
								          <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
								          <button class="btn btn-danger" ng-click="removeAlert(alert.alert_id)">del</button>
								        </div>
								        </td>
								       </tr>
							       </table>
						
								</div>
							</div>	
							<div class="nodata" ng-hide="isData">
								<p>No prospect</p>
							</div>
							<Button class="btn btn-default" id = "addAlert1" data-toggle = "modal" data-target = "#addAlert">Add Alert</Button>
							<div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
  <div class="feed-message" ng-repeat="message in feed" ng-click="expandMessage(message)">
    <div class="message-icon" ng-if="message.type == 'text-message'">
      <img class="photo-icon" ng-src="{{::( message.author | profilePicture )}}">
    </div>
    <div class="message-icon" ng-if="message.type != 'text-message'">
      <img class="photo-icon" ng-src="{{::( message.author | profilePicture )}}">
      <span class="sub-photo-icon" ng-class="::message.type"></span>
    </div>
    <div class="text-block text-message">
      <div class="message-header">
        <span class="author">{{ ::message.author }} {{ ::message.surname}}</span>
      </div>
      <div class="message-content line-clamp" ng-class="{'line-clamp-2' : !message.expanded}">
        <span ng-if="message.preview">{{message.header}} </span>{{::message.text}}
      </div>
      <div class="preview" ng-show="message.expanded" ng-if="message.preview">
        <a href="{{::message.link}}" target="_blank">
          <img ng-src="{{ ::( message.preview | appImage )}}">
        </a>
      </div>
      <div ng-show="message.expanded" class="message-time">
        <div class="post-time">
          {{::message.time}}
        </div>
        <div class="ago-time">
          {{::message.ago}}
        </div>
      </div>
    </div>
  </div>
</div>
						</div><!-- ./col -->
					</div><!-- /.row -->
					<!-- Main row -->
					<div id="addAlert" class= "modal fade" role = "dialog">
						<div class= "modal-dialog modal-md">
							<!-- Add Product Modal Content -->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h3 class="moda-title">Add Alert</h3>
								</div>
								<div class="modal-body">
										<div class="form-group">
											<label for="beacon">Beacon</label>
											<select type="select" ng-options="s.value as s.text for s in beacons" class="form-control" ng-model="beacon"> 
											</select>
										</div>
										<div class="form-group">
											<label for="name">Name</label>
											<input type="text" class="form-control" placeholder="Enter Alert Name" ng-model="name" required>
										</div>
										<div class="form-group">
											<label for="status">Status</label>
											<input type="text" class="form-control" placeholder="Enter Alert Description" ng-model="status" required>
										</div>
										<div class="form-group">
											<label for="alert_type">Type</label>
											<select type="select" ng-options="s.value as s.text for s in alert_types" class="form-control" ng-model="alert_type"> 
											</select>
										</div>
										<button class="btn btn-default" ng-click="addAlert();">Add Alert</button>
								</div>
							</div>
						</div>
					</div>

				</section><!-- /.content -->


				
			</div><!-- /.content-wrapper -->
			<footer class="main-footer">
				<% include ./partials/admin-footer %>
			</footer>
			<% include ./partials/admin-aside %>
			<!-- Add the sidebar's background. This div must be placed
					 immediately after the control sidebar -->
			<div class="control-sidebar-bg"></div>
		</div><!-- ./wrapper -->

		<!-- jQuery 2.1.4 -->
		<script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>
		<!-- Bootstrap 3.3.5 -->
		<script src="/bootstrap/js/bootstrap.min.js"></script>
		<!-- DataTables -->
		<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="/plugins/datatables/dataTables.bootstrap.min.js"></script>
		<!-- SlimScroll -->
		<script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
		<!-- FastClick -->
		<script src="/plugins/fastclick/fastclick.min.js"></script>
		<!-- AdminLTE App -->
		<script src="/dist/js/app.min.js"></script>
		<!-- AdminLTE for demo purposes -->
		<script src="/dist/js/demo.js"></script>
		<!-- page script -->
		<script>
			$(function () {
				//$("#example1").DataTable();
				/*$('#example2').DataTable({
					"paging": true,
					"lengthChange": false,
					"searching": false,
					"ordering": true,
					"info": true,
					"autoWidth": false
				});*/
			});
		</script>
	</body>
</html>
